.overlay {
    height: 100%;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.8);
    z-index:10;
    padding:20px;
}

.detail {
    position: relative;
    background: #EEE;
    color:#444;
}

.detail > .loading {
    text-align:center;
    padding:50px 20px;
    font-weight: bold;
    position:absolute;
    top:0px;
    width:100%; 
    z-index:-1;
    background: #EEE;
    opacity:1;
}

.close-btn {
    position:absolute;
    top: 10px;
    right: 10px;
    font-weight:bold;
    color:#D33;
    cursor:pointer;
    padding:10px;
    z-index:2;
}

.close-btn:hover {
    background:#D33;
    color:#EEE;
}

.header {
    display: flex;
    flex-direction: row;
    z-index:2;
    background:#FFF;
}

.header-info {
    display: flex;
    flex-direction: column;
    margin:20px 0px;
}

.header-info > h2 {
    letter-spacing: 2px;
    color:#D33;
    text-transform: uppercase;
    padding: 10px 0px;
    font-size:30px;
}

.field {
    display:flex;
    flex-direction: row;
}

.field > div+div {
    margin-left:10px;
}

.field > .label {
    font-weight:bold;
    color:#666;
}

.sprites {
    height: 150px;
    margin:20px;
    background:#EEE;
}

.section-container {
    display:flex;
    flex-direction: row;
    align-items: stretch;
}

.left-section, .right-section {
  flex: 1; 
}

.section {
    margin:20px;
}

.section > h3 {
    color:#D33;
    margin-bottom:10px;
}

.moves-container {
    height:400px;
    overflow-y:scroll;
}