.filter {
    position:absolute;
    top:20px;
    right:20px;
}

.filter > .label {
    margin-right:10px;
    font-weight:bold;
    color:#444;
}

.filter > select {
    padding:5px;
    text-transform: uppercase;
    color:#444;
}

.filter > select:disabled {
    opacity:0.5;
}

.filter > select > option {
    text-transform: uppercase;
    color:#444;
}