.list-item {
    background:#EEE;
    color:#D33;
    border:0px solid #EEE;
    padding:10px;
    margin-bottom:10px;
    text-align:center;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing: 2px;
    list-style:none;
    cursor:pointer;
}

.list-item:hover {
    border-left:20px solid #D33;
    border-right:20px solid #D33;
}