.list {
    height:100%;
    padding-right:10px;
    position:relative;
    overflow-y:scroll;
}

.loading {
    opacity:0.5;
}

.loading:hover {
    border:0px;
}

.error {
    background:#D33;
    color:#EEE;
}

.error:hover {
    border-left:20px solid #EEE;
    border-right:20px solid #EEE;
}