.main-container {
    position:absolute;
    width:100%;
    height:100%;
    max-width:700px;
    margin:auto;
    padding:60px 20px 20px;
}

.main-container > h1 {
    position:absolute;
    top:10px;
    left:20px;
    color:#D33;
}

.content {
    height:100%;
    position:relative;
    background:#444;
    padding:10px
}